@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
  font-family: 'inter';
  background-color: #000c1aa6;
}


.aside {
  position: absolute;
  left: 0; 
  top: 0;
  height: 100vh;
  width: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  z-index: 100; 
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.redes i {
  font-size: 24px;
  color: white; 
  cursor: pointer;
}

.svgs {
  width: 100px;
  height: auto;
}

.invisible {
  height: 50px; 
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: absolute;
  z-index: 10;
}

.primary-nav .list {
  display: flex;
  gap: 115px;
  margin-left: 1000px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li {

  list-style-type: none;

}

a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.75);
  font-size: 16px;
  font-weight: 500;
}

.primary-nav .list li a:hover,
.primary-nav .list li a.active:hover {
  color: #D30033;
}

.primary-nav .list li a:not(.active):hover {
  color: #D30033;
}

.primary-nav .list li a.active:not(:hover) {
  color: #D30033;
}

.background-logo {
  position: absolute;
  top: 100px;
  left: 350px;
  width: 900px;
  z-index: 20;
  padding: 20px;


}

.logo {
  display: block;
  width: 100%;
}

p {
  font-family: 'Inter';
  font-weight: 310;
  color: white;
  margin-top: 20px;
  width: 50%;
}

.container-link {
  display: flex;
  width: 400px;
  gap: 20px;
  margin-top: 20px;
}

.PRE-ORDER-NOW,
.WATCH-TRAILER {
  background-color: #D30033;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 35px;
  text-align: center;
  flex: 1;
}

h1 {
  font-size: 16px;
}

.PRE-ORDER-NOW:hover,
.WATCH-TRAILER:hover {
  background-color: #ffffff;
}

.PRE-ORDER-NOW:hover h1 {
  color: #D30033;
}

.WATCH-TRAILER:hover h1 {
  color: #D30033;
}

.background-container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-windows {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.miles {
  position: absolute;
  z-index: 5;
  margin-left: 1100px;
  margin-top: 60px;
  bottom: 0;
  height: 95vh;

}

.transparent {
  position: absolute;
  z-index: 5;
  filter: blur(1.05px);
  margin-left: 920px;
  margin-top: 150px;
  bottom: 0;
  height: 95vh;
 

}

.windows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
  z-index: -1;
  filter: blur(1.5px);

}