@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'inter';
    background-color: #000c1aa6;
}


/* Estilos do header */
.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 10; /* Garante que o header fique acima do background */
  }
  
  .primary-nav .list {
    display: flex;
    gap: 150px;
    margin-left: 500px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  
  .primary-nav .list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;

  }
  
  /* Estilos do background */
  .background-container {
    position: relative;
    z-index: 0; /* Background deve estar abaixo do header */
    width: 100%;
    height: 100vh; /* A altura ocupará a tela inteira */
    overflow: hidden; /* Garante que a imagem não saia da tela */
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra toda a área da div */
    z-index: -1; /* Coloca a imagem de fundo atrás de outros elementos */
  }