/* Reseta margens e espaçamentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.image {
    background-image: url('../img/spidermans.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

/* Estilo para a sobreposição da imagem */
.image-overlay {
    width: 100vw;
    /* Ocupa toda a largura da viewport */
    height: 100vh;
    /* Ocupa toda a altura da viewport */
    background-color: rgba(0, 12, 26, 0.8);
    /* Cor de fundo com opacidade */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
}

/* Estilo para o contêiner que contém as imagens */
.miles-container {
    width: 200px;
    /* Largura do contêiner */
    height: 200px;
    /* Altura do contêiner */
    margin: 50px;
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    position: relative;
    /* Necessário para a posição absoluta dos elementos .miles */



}


.jhon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


.jhon.first {
    z-index: 3;

    animation: moveAndClip 1.5s infinite steps(20);

    clip-path: polygon(0 80%, 100% 10%, 0% 0%, 0 100%);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.jhon.second {
    z-index: 2;

    animation: moveAndClip 2.5s infinite steps(20);

    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.jhon.third {
    z-index: 1;

    animation: moveAndClip 1.5s infinite steps(20);

    clip-path: polygon(0 20%, 100% 20%, 20% 80%, 0 80%);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.jhon.four {
    z-index: 1;

    animation: moveAndClip 1.5s infinite steps(20);

    clip-path: polygon(0 40%, 100% 100%, 20% 80%, 0 80%);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.jhon.five {
    z-index: 1;

    animation: moveAndClip 1.5s infinite steps(20);

    clip-path: polygon(0 10%, 90% 100%, 10% 0, 0 0);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.jhon.six {
    z-index: 1;

    animation: moveAndClip 1.5s infinite steps(20);

    clip-path: polygon(0 100%, -10% 10%, 10% 0, 0 0);

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}





.glitch {
    position: absolute;
    /* Permite a sobreposição dentro do contêiner .miles-container */
    width: 100%;
    /* Faz com que o .miles ocupe o tamanho do contêiner */
    height: 100%;
    /* Faz com que o .miles ocupe o tamanho do contêiner */
    display: flex;
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    /* background-image: url('../img/miles-900px.svg'); */
    /* Defina a imagem de fundo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* Ajusta o tamanho da imagem para caber dentro do .miles */

    animation: glitch 2.15s infinite steps(4); /*cubic-bezier(1,-0.36,0,1.47)*/
    animation-delay: 2.15s;
    z-index: 1;
}

.miles-svg {
    position: absolute;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    z-index: 1;
}

@keyframes glitch {

    0%,
    100% {

  
        background-size: cover;
    }

    92.5% {

        background: url('../img/glitch-image-1726746753.png');
        background-size: cover;
        /* filter: drop-shadow(.05px -1.75px 0 rgba(255, 0, 0, 0.25)) 
        drop-shadow(-1.25px 3.15px 0 rgba(0, 255, 0, 0.25)) 
        drop-shadow(-1.25px -2.5px 0 rgba(0, 0, 255, 0.25)); */
        opacity: 1;


    }

    95% {
        background: url('../img/glitch-image-1726746756.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('../img/glitch-image-1726746761.png');
        background-size: cover;
        /* filter: drop-shadow(.5px .75px 0 rgba(255, 0, 0, 0.25)) 
        drop-shadow(0.25px -1.15px 0 rgba(0, 255, 0, 0.25)) 
        drop-shadow(.25px 2.5px 0 rgba(0, 0, 255, 0.35)); */
        opacity: 1;
    }

 

    98.5% {
        background: url('../img/glitch-image-1726746764.png');
        background-size: cover;
        opacity: 0;
        
    }

    62.5% {
        background: url('../img/glitch-image-1726746766.png');
        background-size: cover;
        opacity: 1;
    }

    65% {
        background: url('../img/glitch-image-1726746749.png');
        background-size: cover;
        /* filter: drop-shadow(0.3px 0.6px 0 rgba(255, 0, 0, 0.25)) 
        drop-shadow(-0.6px 1.25px 0 rgba(0, 255, 0, 0.25)) 
        drop-shadow(0.6px -1px 0 rgba(0, 0, 255, 0.25)); */
    }

    
    67.5% {

        background: url('../img/glitch-image-1726747148.png');
        background-size: cover;
    }

    68.5% {
        background: url('../img/glitch-image-1726747148.png');
        background-size: cover;
    }

    92.5% {
        background: url('../img/glitch-image-1726746764.png');
        background-size: cover;
        /* filter: drop-shadow(0.4px 0.6px 0 rgba(255, 0, 0, 0.25)) 
        drop-shadow(-0.6px 1.2px 0 rgba(0, 255, 0, 0.25)) 
        drop-shadow(0.6px -0.4px 0 rgba(0, 0, 255, 0.25));*/
    } 

    95% {
        background: url('../img/glitch-image-1726746766.png');
        background-size: cover;
    }
} 

@keyframes moveAndClip {

    0% {
        transform: translate(-50%, -50%);
        clip-path: polygon(0 0, 20% 10%, 0% 5%, 0 100%);
        opacity: 1;
    }

    8% {
        transform: translate(-50%, -50%);
        clip-path: polygon(10% 20%, 90% 30%, 100% 80%, 0 70%);
        opacity: 0.3;
    }

    1% {
        transform: translate(-50%, -50%);
        clip-path: polygon(10% 20%, 90% 30%, 100% 80%, 0 70%);
        opacity: 0.3;
    }

    0% {
        transform: translate(-50%, -49%);
        clip-path: polygon(5% 5%, -52% 25%, 100% -85%, 15% -75%);
        opacity: 1;
    }

    15% {
        transform: translate(-52%, -47%);
        clip-path: polygon(0% 25%, 5% 5%, -90% 5%, 5% 100%);
        opacity: 1;
    }

} 



    
  .loader h1 {
    color: #fff; /* Ajuste conforme necessário */
    text-align: center;
  }


  .loader>div{
    height: 75px;
    width: 75px;
    border: 8.5px solid transparent;
    border-top-color:#D30033;
 
 
    border-radius: 50%;
    animation: spin 1.5s infinite linear;

  }

  @keyframes spin{
    100%{
        transform:rotate(360deg) ;
    }
  }