
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.image {
    background-image: url('../img/spidermans.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.image-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 12, 26, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.miles-container {
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.jhon {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


 .jhon.first {
    z-index: 3;
    animation: moveAndClip 1.5s infinite steps(20);
    clip-path: polygon(0 80%, 100% 10%, 0% 0%, 0 100%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 

 .jhon.second {
    z-index: 2;
    animation: moveAndClip 2.5s infinite steps(20);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 

.jhon.third {
    z-index: 1;
    animation: moveAndClip 1.5s infinite steps(20);
    clip-path: polygon(0 20%, 100% 20%, 20% 80%, 0 80%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 

.jhon.four {
    z-index: 1;
    animation: moveAndClip 1.5s infinite steps(20);
    clip-path: polygon(0 40%, 100% 100%, 20% 80%, 0 80%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 

.jhon.five {
    z-index: 1;
    animation: moveAndClip 1.5s infinite steps(20);
    clip-path: polygon(0 10%, 90% 100%, 10% 0, 0 0);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 

.jhon.six {
    z-index: 1;
    animation: moveAndClip 1.5s infinite steps(20);
    clip-path: polygon(0 100%, -10% 10%, 10% 0, 0 0);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} 




.glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glitch 2.15s infinite steps(4);
    animation-delay: 0s;
    z-index: 1;
  }
  
 
  .glitch-background {
    position: absolute;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeOuts .2s steps(5) infinite;
    animation-delay: 9.5s;
    z-index: 2;
  }
  

.miles-svg {
    position: absolute;
    width: 200px; 
    height: auto;
    z-index: 1;
}

 @keyframes glitch {

    0%,
    100% {
        background-size: cover;
    }

    92.5% {
        background: url('../img/glitch-image-1726746753.png');
        background-size: cover;
        opacity: 1;
    }

    95% {
        background: url('../img/glitch-image-1726746756.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('../img/glitch-image-1726746761.png');
        background-size: cover;
        opacity: 1;
    }

 

    98.5% {
        background: url('../img/glitch-image-1726746764.png');
        background-size: cover;
        opacity: 0;     
    }

    62.5% {
        background: url('../img/glitch-image-1726746766.png');
        background-size: cover;
        opacity: 1;
    }

    65% {
        background: url('../img/glitch-image-1726746749.png');
        background-size: cover;
    }

    
    67.5% {

        background: url('../img/glitch-image-1726747148.png');
        background-size: cover;
    }

    68.5% {
        background: url('../img/glitch-image-1726747148.png');
        background-size: cover;
    }

    92.5% {
        background: url('../img/glitch-image-1726746764.png');
        background-size: cover;
    } 

    95% {
        background: url('../img/glitch-image-1726746766.png');
        background-size: cover;
    }
}  

@keyframes moveAndClip {

    0% {
        transform: translate(-50%, -50%);
        clip-path: polygon(0 0, 20% 10%, 0% 5%, 0 100%);
        opacity: 1;
    }

    8% {
        transform: translate(-50%, -50%);
        clip-path: polygon(10% 20%, 90% 30%, 100% 80%, 0 70%);
        opacity: 0.3;
    }

    1% {
        transform: translate(-50%, -50%);
        clip-path: polygon(10% 20%, 90% 30%, 100% 80%, 0 70%);
        opacity: 0.3;
    }

    0% {
        transform: translate(-50%, -49%);
        clip-path: polygon(5% 5%, -52% 25%, 100% -85%, 15% -75%);
        opacity: 1;
    }

    15% {
        transform: translate(-52%, -47%);
        clip-path: polygon(0% 25%, 5% 5%, -90% 5%, 5% 100%);
        opacity: 1;
    }

}  

  .loader>div{
    height: 75px;
    width: 75px;
    border: 8.5px solid transparent;
    border-top-color:#D30033;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;

  }

  @keyframes spin{
    100%{
        transform:rotate(360deg) ;
    }
  } 



@keyframes fadeOuts {

    10%{

        background: url('../img/m2.png');
        background-size: cover;
        opacity: 1;

    }
    15.85%{

        background: url('../img/o4.png');
        background-size: cover;
        opacity: 1;

    }
    55.5%{

        background: url('../img/m5.png');
        background-size: cover;
        opacity: 1;

    }
    95.5% {
        background: url('../img/m1.png');
        background-size: cover;
        opacity: 1;
    }

    96.75% {
        background: url('../img/o2.png');
        background-size: cover;
        opacity: 1;
    }

    98.5% {
        background: url('../img/m3.png');
        background-size: cover;
        opacity: 1;
    }

 

    98.85% {
        background: url('../img/o1.png');
        background-size: cover;
        opacity: 1;     
    }

    99.5% {
        background: url('../img/o5.png');
        background-size: cover;
        opacity: 1;
    }

    99.95% {
        background: url('../img/m3.png');
        background-size: cover;
        opacity: 1;
    }

    
    
}  